{erl_opts,
    [fail_on_warning,
     {parse_transform, lager_transform}
    ]
}.

{deps, [

%%  {goldrush,       {git,"https://github.com/DeadZen/goldrush.git",   {tag,"0.1.6"}}},

  {lager,    ".*", {git, "https://github.com/ruanpienaar/lager",     {tag,"2.1.0"}}},
  %% Explicitely get cowlib: for git: protocol nested repo's cloning from rebar is not working, 
  %% Where there are connectivity issues over the git protocol...
  {cowboy,   ".*", {git, "https://github.com/ruanpienaar/cowboy",    {tag,"2.0.0-pre.1"}}},
  {eper,     ".*", {git, "https://github.com/massemanet/eper",       {tag, "0.97.1"}}},
  {jsx,      ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch,"master"}}},
  {grapherl, ".*", {git, "https://github.com/eproxus/grapherl.git",  {branch,"master"}}},
  %% {eep,      ".*", {git, "https://github.com/virtan/eep",            {branch,"master"}}}%%,
  {sync,     ".*", {git, "https://github.com/rustyio/sync", 	     {branch, "master"}}}
]}.

{deps_dir, "deps"}.
{target, "rel"}.
{sub_dirs,
 ["apps/crell",
  "apps/crell_crawl",
  "rel"]
}.

{edoc_opts, [{doclet, edown_doclet}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.