{erl_opts,[fail_on_warning]}.
{deps, [
  {cowlib, {git, "https://github.com/ninenines/cowlib", {tag, "1.0.0"}}},
  {ranch, {git, "https://github.com/ninenines/ranch", {tag, "1.0.0"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag,"2.0.0-pre.1"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy", {branch, "master"}}},
  {jsx,   {git, "https://github.com/talentdeficit/jsx", {branch, "master"}}},
  {goanna, {git, "https://github.com/ruanpienaar/goanna", {branch, "master"}}},
  {gproc, {git, "https://github.com/uwiger/gproc", {branch, "master"}}}
  % ,
  % {coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}
]}.
{edoc_opts, [{doclet, edown_doclet}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.

{relx, [{release, { crell_rel, "0.0.1"},
         [
          %% OTP
          runtime_tools,
          sasl,
          mnesia,
          %% APP
          gproc,
          hawk,
          goanna,
          jsx,
          jiffy,
          eper,
          ranch,
          cowlib,
          cowboy,
          crell_web,
          crell_crawl,
          crell
         ]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"}
    ]
}.